nav{
  margin-top: 2%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navegador{
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.botonesmenu{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px 20px ;
  display: inline-block;
  justify-content: space-between;

}
.search-container {
  display: flex;
  align-items: flex-end;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin-right: 5%;

}

.search-input {
  flex: 1; /* El input ocupa todo el espacio disponible */
  padding: 15px; /* Ajusta el relleno según sea necesario */
  font-size: 20px;
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 5px; /* Bordes redondeados */
  width: 600px;
}

.search-button {
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 25px;
  border: none;
  background-color: #ffcc00; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.search-button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón por encima */
}

.botonmenu {
  margin-right: 30px;
  display: inline-block;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  font-size: 25px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  text-align: center; /* Alineación del texto */
  color: #fff; /* Color del texto */
  background-color: #ffcc00; /* Color de fondo */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de ratón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilos cuando se pasa el ratón por encima */
.botonmenu:hover {
  background-color: #32cd32; /* Cambia el color de fondo al pasar el ratón por encima */
}
