<nav class="navegador">
  <div class="botonesmenu">
    <button class="botonmenu" (click)="goToInicio() ">Apuestas</button>
    <button class="botonmenu" (click)="goToresultados()">Resultados</button>
    <button class="botonmenu" (click)="goToPerfil()">Perfil</button>
    <button class="botonmenu" (click)="goToCerrarSesion()">Cerrar sesion</button>
  </div>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar...">
    <button class="search-button">Buscar</button>
  </div>
</nav>
