<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Apuestas</title>
  </head>
  <body>
   <app-header></app-header>
    <app-nav></app-nav>

    <h1>las apustas van aqui </h1>
    <div class="apuestasdiv">

    </div>

    <main>
      <section class="betting-section">
        <!-- Aquí puedes colocar el contenido relacionado con las apuestas -->
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Página de Apuestas. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>

